---
import Faq from "../components/Faq.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Contato">
  <h1 class="display-2 mgT-2 text-center">Tem alguma dúvida?</h1>

  <Faq />

  <h2 class="display-2 text-center pt-2">que tal</h2>
  <h2 class="display-2 text-center">
    um <span lang="en-us">Feedback?</span>
  </h2>
</Page>
