---
import NavBar from "../components/nav/NavBar.astro";
import Page from "../layouts/Page.astro";
---

<Page title="AccessCity" hasFooter={false}>
  <div class="container-fluid logo">
    <div class="row pt-2">
      <img src={`${import.meta.env.BASE_URL}/img/logo.png`} alt="AccessCity" />
    </div>
    <div class="row">
      <div class="col-md-5 d-grid mx-auto">
        <a class="myButton ripple text-center" id="botaoMain">baixe agora!</a>
        <!--O link vai dar para a página da play store para baixar o app-->
      </div>
    </div>
  </div>
</Page>

<style>
  .logo {
    border-radius: 10px;
    padding: 20px;
    width: clamp(300px, 60%, 600px);
  }

  :global(main) {
    background: linear-gradient(
      -45deg,
      #0e1124,
      #06070a,
      rgb(102, 155, 188),
      rgb(230, 223, 210)
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  #botaoMain {
    font-family: Bebas Neue, sans-serif;
    user-select: none;
    cursor: pointer;
    width: max-content;
  }
</style>
