<div class="container otherContainer text-center">
  <div class="row">
    <div class="col-md-5 col-sm-4">
      <img src={`${import.meta.env.BASE_URL}/img/faq.png`} height="95%" width="95%" alt="Símbolo FAQ" />
    </div>

    <div class="col-md-6 col-sm-4 d-grid pt-4">
      <div class="row" style="align-items: center;">
        <span class="display-3 text-center texto-branco">
          Entre no <span class="uppercase">faq</span>
        </span>
      </div>
      <div class="row" style="justify-content: center;">
        <a
          class="btn btn-danger mgB-4 faqBtn"
          href="/faq"
          role="button"
          target="_blank"
          >faq</a
        >
        <!--falta ajeitar o botão-->
      </div>
    </div>
  </div>
</div>

<style>
  a.faqBtn {
    font-family: Bebas Neue, serif;
    font-size: 6ch;
    height: 5.5rem;
    width: 15rem;
    text-transform: uppercase;
  }

  .uppercase {
    text-transform: uppercase;
  }
</style>
