<footer class="fluid-container mgT-7">
  <div class="row">
    <div class="col-md-12">
      <img src={`${import.meta.env.BASE_URL}/img/cotilagain.png`} />
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: #222224;
    border-top: 2px solid rgb(62, 62, 63);
    padding: 30px;
    text-align: center;
  }
</style>
